.header {
    grid-area: header;
}

.board {
    grid-area: board;
}

.history {
    grid-area: history;
    overflow-y: auto;
}

.player {
    grid-area: player;
}

.discard {
    grid-area: discard;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header history"
        "board board discard"
        "player player player";
    background-color: #fff;
    color: #444;

    max-width: 1000px;
    margin: 0 auto;
}

.section {
    padding: 10px 15px;
    background-color: #f3f3f3;
    border-radius: 3px;
    /* margin: 10px; */
}

button {
    border: none;
    padding: 0.5em 1em;
    background-color: #bce5be;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 40%);
}
button:hover {
    background-color: #83b285;
    box-shadow: none;
}

.cards-line {
    display: flex;
    flex-direction: row;
}

.cards-stack {
    display: flex;
    flex-direction: column;
}
.cards-stack .card:not(:first-child) {
    margin-top: -140px;
}

/* Card */


.card {
    padding: 10px;
    background-color: #fff;
    border: 4px solid saddlebrown;
    border-radius: 10px;
    display: inline-block;
    width: 140px;
    height: 170px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "level level"
        "name name"
        "description description"
        "reward-levels reward-treasures";
    will-change: transform;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    transform-origin: 50% 100%;
}

.card-level {
    grid-area: level;
    text-align: center;
}

.card-name {
    grid-area: name;
    font-size: 1.3em;
    text-align: center;
}
.card-reward-treasures {
    grid-area: reward-treasures;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
}
.card-reward-levels {
    grid-area: reward-levels;
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
}

.card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-actions {
    visibility: hidden;
    opacity: 0;
    grid-column: span level / level;
    grid-row: span level / description;
}
.card:hover .card-actions {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}